In [2]:
import pandas as pd
import seaborn as sns 
import numpy as np

In [22]:
countries = pd.read_csv("Data/countries of the world.csv",decimal=',')

In [23]:
import pickle

In [24]:
convCountry2Code = pickle.load(open("Data/countryToCode.pkl","rb"))

In [25]:
countries["Country"] =countries["Country"].str.strip()

In [26]:
countries["Code"] = countries["Country"].apply(lambda x: convCountry2Code[x] if x in convCountry2Code else "")

In [27]:
combined_enforce = pd.read_pickle("Data/combined_enforce.pkl")

In [28]:
combined_enforce = combined_enforce.reset_index()

In [16]:
countries = countries.drop(["Region","Country"],axis=1)

In [29]:
countries.columns = ["NATL_"+x if x != "Code" else x for x in countries.columns]

In [38]:
countries.columns

Index(['NATL_Country', 'NATL_Region', 'NATL_Population', 'NATL_Area (sq. mi.)',
       'NATL_Pop. Density (per sq. mi.)', 'NATL_Coastline (coast/area ratio)',
       'NATL_Net migration', 'NATL_Infant mortality (per 1000 births)',
       'NATL_GDP ($ per capita)', 'NATL_Literacy (%)',
       'NATL_Phones (per 1000)', 'NATL_Arable (%)', 'NATL_Crops (%)',
       'NATL_Other (%)', 'NATL_Climate', 'NATL_Birthrate', 'NATL_Deathrate',
       'NATL_Agriculture', 'NATL_Industry', 'NATL_Service', 'Code'],
      dtype='object')

In [35]:
cbd = pd.merge(combined_enforce,countries,how="inner")

In [37]:
cbd.set_index("Code")

,sales_per_day_1875,sales_per_day_1880,sales_per_day_1885,sales_per_day_1890,sales_per_day_1895,sales_per_day_1900,sales_per_day_1901,sales_per_day_1902,sales_per_day_1903,sales_per_day_1904,...,NATL_Phones (per 1000),NATL_Arable (%),NATL_Crops (%),NATL_Other (%),NATL_Climate,NATL_Birthrate,NATL_Deathrate,NATL_Agriculture,NATL_Industry,NATL_Service
Code,,,,,,,,,,,,,,,,,,,,,
ARM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,195.7,17.55,2.30,80.15,4.0,12.07,8.23,0.239,0.343,0.418
AUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,565.5,6.55,0.04,93.41,1.0,12.14,7.51,0.038,0.262,0.700
AUT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,452.2,16.91,0.86,82.23,3.0,8.74,9.76,0.018,0.304,0.678
AZE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,137.1,19.63,2.71,77.66,1.0,20.74,9.75,0.141,0.457,0.402
BEL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,462.6,23.28,0.40,76.32,3.0,10.38,10.27,0.010,0.240,0.749
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
BMU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,851.4,20.00,0.00,80.00,2.0,11.40,7.74,0.010,0.100,0.890
GRL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,448.9,0.00,0.00,100.00,1.0,15.93,7.84,NaN,NaN,NaN
GUM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,492.0,9.09,16.36,74.55,2.0,18.79,4.48,NaN,NaN,NaN
PRI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,283.1,3.95,5.52,90.53,2.0,12.77,7.65,0.010,0.450,0.540
TWN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,591.0,24.00,1.00,75.00,2.0,12.56,6.48,0.018,0.259,0.723

In [39]:
cbd.to_pickle("Data/allCombined.pkl")